<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
			autoReload="true"
			throwExceptions="false"
			internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<targets>
		<target xsi:type="File"
						name="LogFile"
						fileName="${specialfolder:folder=CommonApplicationData}/LERS/Logs/Tools/ServerSync/ServerSync.${date:format=yyyy-MM-dd}.log"
						layout="${longdate} ${message} ${exception:format=tostring}"
						archiveEvery="Day"
						archiveNumbering="Date"
						archiveFileName="${specialfolder:folder=CommonApplicationData}/LERS/Logs/Tools/ServerSync/ServerSync.#.log"
						archiveDateFormat="yyyy-MM-dd"
						maxArchiveFiles="7"/>

		<target xsi:type="Console"
						name="LogConsole"
						layout="${longdate} ${message} ${exception:format=tostring}"/>

	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="LogFile,LogConsole"/>
	</rules>
</nlog>
